POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=newsdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecretpassword123

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

AIRFLOW__CORE__FERNET_KEY=your_fernet_key_here
AIRFLOW_UID=50000